<% icon_only ||= false %>
<%= gravatar(user, 20, class: ["header-user-icon", "dropdown-toggle"], "data-toggle" => "dropdown") %>
<% if not icon_only %>
  <%= link_to user.name, "#", class: ["header-user-name", "dropdown-toggle"], "data-toggle" => "dropdown" %>
<% end %>
<ul class="dropdown-menu user-info" role="menu">
  <li role="presentation">
    <div class="pull-left media">
      <div class="media-left">
        <%= gravatar(user, 60, class: ["media-object"]) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= user.name %>
          <span class="badge" style="vertical-align: top"><%= user.contribution %></span>
        </h4>
        <div><span class="text-muted"><%= user.email %></span></div>
      </div>
    </div>
    <div class="pull-right">
      <%= link_to user_path(user.id), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <% end %>
    </div>
  </li>
</ul>
