<h1><%= tco :user_list_title %></h1>

<table class="table list-table">
  <thead>
    <tr>
      <th><%= t("users.name") %></th>
      <th><%= t("users.email") %></th>
      <th class="text-center"><%= t("users.post_count") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= gravatar(user, 20, class: ["header-user-icon", "dropdown-toggle"], "data-toggle" => "dropdown") %>
          <span class="text-info"><%= user.name %></span>
        </td>
        <td><%= user.email %></td>
        <td class="text-center">
          <%= user.articles.count %>
        </td>
        <td class="text-right">
          <%= link_to user_path(user.id), class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
