<div class="panel panel-default">
  <div class="panel-body">
    <div class="pull-left media">
      <div class="media-left">
        <%= gravatar(@user, 80, class: ["media-object"]) %>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= @user.name %></h3>
        <div><span class="text-muted"><%= @user.email %></span></div>
      </div>
    </div>
    <div class="pull-right">
      <div>
        <%= tco :contribution %>
        <span class="badge"><%= @user.contribution %></span>
      </div>
    </div>
  </div>
</div>
<%= render "articles/article_list", articles: @user_articles %>
